@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

body {
  /* background-image: url(https://miro.medium.com/max/1400/1*TUj-YLDXBP1Kiiwadww02Q.gif); */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  font-size: x-large;
  margin-top: 5vh;
}

.RegisterPageCSS {
  padding: 2vh;
  font-size: x-large;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.home,
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8vw;
  text-decoration: none;
  /* color: white; */
}

.shop-links {
  display: flex;
  gap: 8vh;
  text-decoration: none;
}

a {
  text-decoration: none;
  /* color: white; */
}

.user {
  display: flex;
  /* grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr; */
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  gap: 8vw;
  margin: 0;
  padding: 5vh;
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(235, 235, 235); */
  /* border: 2px solid black;
  border-radius: 15px; */
  /* background-image: url(https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/941942/retina_1708x683_image_0_-_2020-08-20T233648.747-f5720b4826981fac7455031e0c21a3fe.png); */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.search-bar {
  color: white;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  height: 20px;
  margin-left: 50px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
}

.search-bar::placeholder{
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.home-search-bar {
  display: flex;
  margin-bottom: 5;
  border: none;
  background: transparent;

}


.home-home {
  height: 100vh;
  width: 100vw;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/022/521/258/original/bogdan-mb0sco-coffee-shop-animationfullhd.gif?1575731432);
  /* background-repeat: no-repeat; */
  background-size: cover;
  display: grid;
  grid-template:
    20px 50px 0.25fr 2fr 1fr/
    100px 1fr 100px;
  border: none;
  border-radius: 0px;
}
.home-navigation {
  grid-area: 1/1/1/4;
  background: transparent;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 20px;
}
.link {
  color: white;
  text-decoration: none;
  margin: 15px;
  
}
.home-search {
  grid-area: 5/2/5/2;
  margin-left: 30px;
}

.home-links{
  font-family: "Josefin Sans", sans-serif;
}
.home-featured-container {
  grid-area: 3/2/3/2;
  display: flex;
  justify-content: center;
}
.home-featured {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  max-width: 700px;
}
.feature {
  height: 200px;
  width: 150px;
  border: 2px solid black;
  background-color: #feffff;
  background-size: contain;
  background-position: center;
  border-radius: 10%;
}
.profile-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url('CoffeeMugsBG.jpg');
  background-position: center;
  background-size: cover;

  display: grid;
  font-family:sans-serif;
  grid-template:
    20px 50px 0.05fr 2fr 25px/
    75px 1fr 75px;
}
.profile-links-container {
  grid-area: 2/1/2/4;
  background:transparent;
  display: flex;
  justify-content: flex-end;
}
.profile-link {
  text-decoration: none;
  color:black;
  margin: 15px;
  margin-right: 100px;
  font-family: "Josefin Sans", sans-serif;
}
.profile {
  grid-area: 4/2/4/2;
  background: transparent;
  display: grid;
  grid-template: 1fr/1fr 1fr;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info,.orders {
  margin: 10px;
  height: 200px;
  width: 80%;
  background:rgba(255,255,255,0.4);
  backdrop-filter:blur(10px);
  border-radius: 10px;
  border:2px solid rgba(255,255,255,0.2);
  font-family:'Josefin sans';
  font-size:small;
}

.profile-featured {
  grid-area: 1/1/1/1;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-products {
  margin: 10px;
}

.coffee-details {
  width: 5vw;
  height: 20vh;
  margin-top: 13vh;
  gap: 5;
  align-items: center;
  justify-content: space-around;
}
.coffee-details > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}
.CoffeeImage {
  height: 8vh;
  width: 5vw;
}
.shop {
  /* height: 100vh;
  width: 100vw; */
  background:url('glass-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template:
    0px 50px 0.25fr 2fr/
    50px 1fr 50px;
}

.ShopSearch {
  display: grid;
  grid-area: 2/1/2/30;
  /* margin-right: 5vw; */
  margin: 4vh;
  padding: 4vh;
}

.shop-navigation {
  grid-area: 2/1/2/4;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.shop-links {
  margin: 25px;
  font-family: sans-serif;
  color:white;
}
.registration-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 50px 1fr / 1fr;
  background-image: url(https://cdn.wallpapersafari.com/46/69/Wb9n1Y.jpg);

}
.registration-nav {
  grid-area: 1/1/1/1;
  color: black;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.registration-links {
  color: white;
  margin: 25px;
}
.registration-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-family: "Josefin Sans", sans-serif;
  background: transparent;
}
input {
  border: none;
  background-color: transparent;
  border-bottom: black 1px solid;
  width: 200px;
}
.col {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;

  align-items: center;
  padding: 20px;

  align-items: space-between;
  height: 500px;
  padding: 20px;
  width: 350px;
  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 3px solid rgba(255,255,255,0.2);
  box-shadow:rgb(77, 77, 77);
  

}
.complete-reg {
  display: flex;
  margin: 5vh;
  margin-top: 15px;
  background: transparent;
  border-radius: 15px;
}
.switch-reg-type {
  margin-top: -300px;
  background: transparent;
  border: none;
}
.switch-reg-type:hover {
  background: black;
  color: white;
}
.sign-in-page {
  height: 100vh;
  width: 100vw;
  background: #feffff;
  display: grid;
  grid-template:
    20px 50px 0.25fr 2fr 1fr/
    100px 1fr 100px;
  border: none;
  border-radius: 0px;
}
.signin {
  grid-area: 4/2/4/2;
  border: 1px solid black;
}
.signin-nav {
  grid-area: 2/1/2/4;
  background: black;
}
.signin-col {
  border: 1px solid black;
  grid-area: 4/2/4/2;
  display: flex;
  justify-content: center;
}
.signin-button {
  background: transparent;
  margin-top: 25px;
}
.signin-button:hover {
  background: black;
  color: white;
}
.add-product {
  height: 500px;
  width: 300px;
  background: transparent;
}
h1 {
  color: black;
}
.welcome-user {
  grid-area: 1/1/1/1;
  font-family: 'Josefin sans';
  font-weight: bold;
  font-size: 30px;
  height: 30px;
  width:500px;
  color:white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
}
.aisle{
  /* margin-top:20px; */
  grid-area:4/2/4/2;

  background:white;

  /* background:url('glass-background.jpg');
    background-size: cover;
  background-repeat: no-repeat; */

  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  
}
.coffee-tile{
  border-radius: 15px;;
  margin:15px;
  height:200px;
  width:200px;
  display:grid;
  grid-template-rows:1fr 1fr 1fr;
  font-family:sans-serif;
}
.coffee-tile:hover{
  border:1px solid black;
}
.img-container{
  grid-row:2;
  display:flex;
  justify-content:center;
  align-items:center;
}
.coffee-pic{
  background-image: url('starbucksCoffee.jpg'); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size:100px 100px; 
  height:100px;
  width:100px;
}
.shop{
  height:100vh;

  background:white;
  background:stretch;

  background:url('glass-background.jpg');
    background-size: cover;
  background-repeat: no-repeat;
  /* background:url('beans.jpg'); */

}
.add-product-button{
  width:100px;
}
.add-product-input{
  border:none;
  border-bottom: 1px solid rgb(77, 77, 77);
}

#add-new-product{
  height:450px;
  width:230px;
  display:flex;
  justify-content: space-between;
  align-items: space-between;
  font-family: 'Josefin sans';
}
#new-product::placeholder{
  font-family:'Josefin sans';
}
.add-product-title{
  font-family: 'Josefin sans';
  margin-bottom:10px;
}
#new-product{
  margin:0;
}
.add-product-button{
  margin-top:10px;
  width:75px;
  height:20px;
  background:transparent;
  border:none;
  font-family: 'Josefin sans';
  justify-content:center;
  align-items:center;
}
.add-product-button:hover{
  background:black;
  border-radius:5px;
  color:white;
}
#profile-title{
  font-size:medium;
  margin-top:5px;
}
.profile-details{
  margin-top:25px;
}
.info{
  height:150px;
}
.seller-product-tile{
  display:flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: space-between;
}
.seller-product-tile-button{
  height:25px;
  width:45px;
  font-size:x-small;
  margin:5px;
  font-family:'Josefin sans';
  border:none;
  border-radius:10px;


}
#info-seller{
  height:15px;
  font-size: small;
  margin:0;
}
.seller-product-details{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items:center;
}
.seller-buttons{
  display: flex;
  flex-direction: column;

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 255, 255),
      0 0 80px rgb(255, 255, 255),
      0 0 90px rgb(255, 255, 255),
      0 0 100px rgb(255, 255, 255),
      0 0 150px rgb(255, 255, 255);
  }
  20%, 24%, 55% {
      text-shadow: none;
  }
}

.logo {
  color: rgba(255, 255, 255, 0.491);
  text-shadow:
      0 0 7px rgba(255, 255, 255, 0.498),
      0 0 10px rgba(255, 255, 255, 0.518),
      0 0 21px rgba(255, 255, 255, 0.497),
      0 0 42px rgba(255, 255, 255, 0.513),
      0 0 82px rgba(255, 255, 255, 0.5),
      0 0 92px rgba(255, 255, 255, 0.475),
      0 0 102px rgba(255, 255, 255, 0.455),
      0 0 151px rgba(255, 255, 255, 0.411);
      /* animation: flicker 2s infinite alternate; */
      padding: 50px;
}

.logo {
  font-size: 10em;
  font-weight: 700;
  grid-area: 5/2/5/3;
  color: #feffff;
  margin-bottom: 15vh;
  padding: 20vh;

}

